mkdocs>=1.5
mkdocs-material>=9
mkdocstrings[python]>=1.0.4
mkdocs-gen-files>=0.5
mkdocs-literate-nav>=0.6
mkdocs-section-index>=0.3
mkdocs-mermaid2-plugin>=1.1.1
pymdown-extensions>=10
mkdocs-jupyter>=0.24
