name: CI

on:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["main", "master"]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Ensure make is available
        run: |
          sudo apt-get update
          sudo apt-get install -y make

      - name: Set up virtualenv, dependencies, and run tests, lint, and demo
        run: |
          make venv
          make dev
          make test
          make lint
           make run-demo

